@model Dejarix.App.Models.ResetViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<h1>Reset Password</h1>

@foreach (var error in Model.Errors)
{
    <div class="alert alert-danger">@error</div>
}

@if (Model.Success.Length > 0)
{
    <div class="alert alert-success">@Model.Success</div>
}

@if (Model.UserAndTokenAreValid)
{
    <form method="post" enctype="application/x-www-form-urlencoded">
        @Html.AntiForgeryToken()
        <input type="hidden" name="reset-user-id" value="@Model.UserId" />
        <input type="hidden" name="reset-token" value="@Model.Token" />
        <div class="form-group">
            <input type="password" name="reset-password" placeholder="Password" />
        </div>
        <div class="form-group">
            <input type="password" name="reset-password-confirm" placeholder="Password (again)" />
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
}
